body {
    font-family: var(--bs-font-sans-serif);
    background-color: #f7f7f7;
    color: #000000;
}

.body-container {
    margin-top: 5rem !important;
    margin-bottom: 1.5rem !important;
}

.form-group {
    margin-top: 3px;
}

.empty-div{
    margin-top: 3rem !important;
}

.masthead{
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.btn {
    margin-top: 5px;
}

/*for login.html */
.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #ecfbff00;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

.scrollable {
    height: 250px;
    overflow-y: auto;
}

.scrollable_long {
    height: 1000px;
    overflow-y: auto;
}

.column {
    float: left;
    width: 50%;
}

.alert {
    margin-top: 50px !important;
    margin-bottom: 0 !important;
}