{% extends "main/layout.html" %}

{% block body %}
    <div class="container">
      <div class="col-sm">
        <h1 class="display-4">Cart</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
          {% for cart_item in rewards %}
            {% if cart_item.count > 0 %}
            <tr>
              <td scope="row">{{ cart_item.reward.name }}</td>
              <td>{{ cart_item.reward.description }}</td>
              <td>
                <form action="{% url 'main:edit_quantity' %}" method="post">
                {% csrf_token %}
                <input type='hidden' value={{ cart_item.id }} name='cart_id'>
                <button value='Minus' name='minus' type='submit'>-</button>
                {{ cart_item.count }}
                <button value='Add' name='add' type='submit'>+</button>
                </form>
              </td>
              <td>{% widthratio cart_item.reward.cost 1 cart_item.count %}</td>
            </tr>
            {% endif %}
          {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ total_cost }}</td>
          </tr>
        </tbody>
      </table>
      <form action="{% url 'main:checkout' %}" method="post">
        {% csrf_token %}
        <input type='hidden' value={{ total_cost }} name='total_cost'>
        <button text-align="right" value='CHECKOUT' name='checkout' type='submit'>Checkout</button>
      </form>
      </div>
    </div>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
{% endblock %}