{% extends "main/layout.html" %}

{% block body %}
    <div class="container">
        <form action="{% url 'main:update_profile' %}" method="post">
          {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input name="username" value={{ user.user.username }} class="form-control" type="text" placeholder="Default input" id="username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email" value={{ user.email }}>
              </div>
            <div class="form-group">
                <label for="department">Department</label>
                <select class="form-control" id="department" name="department">
                  <option {% if user.department == "Operations" %} selected {% endif %}>Operations</option>
                  <option {% if user.department == "Infocomm technology" %} selected {% endif %}>Infocomm technology</option>
                  <option {% if user.department == "Engineering" %} selected {% endif %}>Engineering</option>
                  <option {% if user.department == "Corporate" %} selected {% endif %}>Corporate</option>
                </select>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        <a href="{% url 'main:logout' %}">Log out</a>
    </div>
{% endblock %}