{% extends "main/layout.html" %}

{% block body %}
<h1 class="display-2">Following</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Users</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
        {% for follow in following %}
        <tr>
            <td scope="row">{{ follow.following.user.username }}</th>
            <td>Working on
                {% for task in follow.following.tasks.all %}
                {% if task.status == 'In progress' %}    
                {{ task.name }}
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h1 class="display-2">Requests</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Users</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    {% for request in requests %}
    <tr>
        <td scope="row">{{ request.requestor.user.username }}</th>
        <td> 
            <form action="{% url 'main:modify_request' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value='{{ request.requestor.id }}' name="requestor_id">
                <button value="True" name='outcome' type='submit'>Accept</button>
                <button type='submit'>Reject</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'main:logout' %}">Log out</a>
{% endblock %}
