{% extends "main/layout.html" %}

{% block body %}
    <div class="container">
        <ul>
            <li>Name: {{ user.user.first_name }} {{ user.user.last_name }} </li>
            <li>Username: {{ user.user.username }} </li>
            <li>About me: {{ user.description }} </li>
            <li>Email: {{ user.email }} </li>
            <li>Department: {{ user.department }} </li>
            <li>Points: {{ user.points }} </li>
        </ul>
        <h2> Tasks </h2>
        <ul>
            {% for task in tasks %}
                <li>{{ task }}</li>
            {% endfor %}
        </ul>
        <h2> {% if message %} {{message}} {% endif %} </h2>
        <a href="{% url 'main:edit_profile' %}">Edit Profile</a>
        <a href="{% url 'main:logout' %}">Log out</a>
    </div>
{% endblock %}