{% extends "main/layout.html" %}

<!--TODO: migrate the css here, otherwise to layout to standardise format-->

<!DOCTYPE html>
<html language="en">

<!--Small problem of not being able to change title-->
{% block title %}
  <title>tasks</title>
{% endblock %}

{% block body %}
    <div class="container">
      <div class ="row">
        <!--Todo starts-->
        <div class="col-12 border">
          <h1 class="display-4">To do</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width: 20%">Task</th>
              <th style="width: 20%">Description</th>
              <th style="width: 20%">Collaborators</th>
              <th style="width: 20%">Points Granted</th>
              <th style="width: 20%">Update Progress</th>
            </tr>
          </thead>
          <tbody>
            {% for task in to_do %}
            <tr>
              <td scope="row">{{ task.name }}</th>
              <td>{{ task.description }}</td>
              <td>{% for user in task.users.all %} {{user.user.username}} {% endfor %}</td>
              <td>{{ task.points_granted }}</td>
              <td>
                <form action="{% url 'main:edit_task' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" value='{{ task.id }}' name="task_id">
                  <button type="submit" name='task_status' value="In progress" class="btn btn-success">Start Task!
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    </svg>
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        <!--Todo ends-->
        <div class="empty-div"><p></p></div>
        <!--In progress starts-->
          <div class="col-12 border">
            <h1 class="display-4">In progress</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 20%">Task</th>
                <th style="width: 20%">Description</th>
                <th style="width: 20%">Collaborators</th>
                <th style="width: 20%">Points Granted</th>
                <th style="width: 20%">Update Progress</th>
              </tr>
            </thead>
            <tbody>
              {% for task in in_progress %}
              <tr>
                <td scope="row">{{ task.name }}</th>
                <td>{{ task.description }}</td>
                <td>{% for user in task.users.all %} {{user.user.username}} {% endfor %}</td>
                <td>{{ task.points_granted }}</td>
                <td>
                  <form action="{% url 'main:edit_task' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value='{{ task.id }}' name="task_id">
                    <button type="submit" name='task_status' value="To do" class="btn btn-danger">Rest
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                      </svg>
                    </button>
                    <button type="submit" name='task_status' value="Completed" class="btn btn-success">Complete
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                      </svg>
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
          <!--In Progress ends-->
          <div class="empty-div"><p></p></div>
          <!--Completed starts-->
          <div class="col-12 border">
            <h1 class="display-4">Completed</h1>
          <table class="table table-hover">
            <thead> 
              <th style="width: 20%">Task</th>
              <th style="width: 20%">Description</th>
              <th style="width: 20%">Collaborators</th>
              <th style="width: 20%">Points Granted</th>
              <th style="width: 20%">Update Progress</th>
            </tr>
          </thead>
          <tbody>
            {% for task in completed %}
            <tr>
              <td scope="row">{{ task.name }}</th>
              <td>{{ task.description }}</td>
              <td>{% for user in task.users.all %} {{user.user.username}} {% endfor %}</td>
              <td>{{ task.points_granted }}</td>
                <td>
                  <form action="{% url 'main:edit_task' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value='{{ task.id }}' name="task_id">
                    <button type="submit" name='task_status' value="In progress" class="btn btn-danger">Refine
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                      </svg>
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
{% endblock %}