{% extends "main/layout.html" %}

{% block body %}
    <div class="container">
        <h1 class="display-2">Tasks</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Task</th>
              <th scope="col">Progress</th>
              <th scope="col">Update Progress</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr>
              <td scope="row">{{ task.name }}</th>
              <td>{{ task.status }}</td>
              <td>
                <form action="{% url 'main:edit_task' %}" method="post">
                  {% csrf_token %}
                  <label for="status">Status:</label>
                    <select name='task_status' id="status">
                      <option {% if task.status == "Incomplete" %} selected {% endif %}>Incomplete</option>
                      <option {% if task.status == "Ongoing" %} selected {% endif %}>Ongoing</option>
                      <option {% if task.status == "Completed" %} selected {% endif %}>Completed</option>
                    </select>
                  <button value='{{ task.id }}' name='task_id' type='submit'>Submit</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul>
            
        </ul>
        <a href="{% url 'main:logout' %}">Log out</a>
    </div>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
{% endblock %}