{% extends "main/layout.html" %}

{% block body %}
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1 class="display-4">To do</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Task</th>
              <th scope="col">Description</th>
              <th scope="col">Collaborators</th>
              <th scope="col">Points Granted</th>
              <th scope="col">Update Progress</th>
            </tr>
          </thead>
          <tbody>
            {% for task in to_do %}
            <tr>
              <td scope="row">{{ task.name }}</th>
              <td>{{ task.description }}</td>
              <td>{% for user in task.users.all %} {{user.user.username}} {% endfor %}</td>
              <td>{{ task.points_granted }}</td>
              <td>
                <form action="{% url 'main:edit_task' %}" method="post">
                  {% csrf_token %}
                  <label for="status">Status:</label>
                    <select name='task_status' id="status">
                      <option {% if task.status == "To do" %} selected {% endif %}>To do</option>
                      <option {% if task.status == "In progress" %} selected {% endif %}>In progress</option>
                      <option {% if task.status == "Completed" %} selected {% endif %}>Completed</option>
                    </select>
                  <button value='{{ task.id }}' name='task_id' type='submit'>Submit</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        <div class="col-sm">
          <h1 class="display-4">In progress</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Task</th>
              <th scope="col">Description</th>
              <th scope="col">Collaborators</th>
              <th scope="col">Points Granted</th>
              <th scope="col">Update Progress</th>
            </tr>
          </thead>
          <tbody>
            {% for task in in_progress %}
            <tr>
              <td scope="row">{{ task.name }}</th>
              <td>{{ task.description }}</td>
              <td>{% for user in task.users.all %} {{user.user.username}} {% endfor %}</td>
              <td>{{ task.points_granted }}</td>
              <td>
                <form action="{% url 'main:edit_task' %}" method="post">
                  {% csrf_token %}
                  <label for="status">Status:</label>
                    <select name='task_status' id="status">
                      <option {% if task.status == "To do" %} selected {% endif %}>To do</option>
                      <option {% if task.status == "In progress" %} selected {% endif %}>In progress</option>
                      <option {% if task.status == "Completed" %} selected {% endif %}>Completed</option>
                    </select>
                  <button value='{{ task.id }}' name='task_id' type='submit'>Submit</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        <div class="col-sm">
          <h1 class="display-4">Completed</h1>
        <table class="table">
          <thead>
            <th scope="col">Task</th>
            <th scope="col">Description</th>
            <th scope="col">Collaborators</th>
            <th scope="col">Points Granted</th>
            <th scope="col">Update Progress</th>
          </tr>
        </thead>
        <tbody>
          {% for task in completed %}
          <tr>
            <td scope="row">{{ task.name }}</th>
            <td>{{ task.description }}</td>
            <td>{{ task.users }}</td>
            <td>{{ task.points_granted }}</td>
              <td>
                <form action="{% url 'main:edit_task' %}" method="post">
                  {% csrf_token %}
                  <label for="status">Status:</label>
                    <select name='task_status' id="status">
                      <option {% if task.status == "To do" %} selected {% endif %}>To do</option>
                      <option {% if task.status == "In progress" %} selected {% endif %}>In progress</option>
                      <option {% if task.status == "Completed" %} selected {% endif %}>Completed</option>
                    </select>
                  <button value='{{ task.id }}' name='task_id' type='submit'>Submit</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
        <a href="{% url 'main:logout' %}">Log out</a>
    </div>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
{% endblock %}