{% extends "main/layout.html" %}

{% block body %}
    <div class="container">
        <div class = "scrollable_long">
        <h1 class="display-2">List of users</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Users</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for user in user_list %}
            <tr>
              <td scope="row">
                <a href="{% url 'main:user_profile' user.id %}">{{ user.user.username }}</a>
              <td>  
                {% if user in following %}
                <button disabled class="btn btn-secondary">Following</button>
                {% elif user in requested %}
                    <button disabled class="btn btn-secondary">Requested</button>
                {% else %}
                    <form action="{% url 'main:follow' %}" method="post">
                        {% csrf_token %}
                        <button value='{{ user.id }}' name='user_id' type='submit' class="btn btn-info">Follow</button>
                    </form>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}